@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
  /* border: 1px solid red; */
}

.jumbotron {
  background: url("/public/images/header-img-2.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  height: 666px;
}

.tracking {
  /* background-color: #f9f9f9; */
  background-size: 100px;
  background: url("/public/images/track-bg.svg") #f9f9f9 center 70% no-repeat;
  height: 885px;
}

.track-bg {
  position: absolute;
  z-index: -1;
  width: 1217px;
  margin: auto;
}

.track-input {
  width: 811px;
  height: 50px;
  font-weight: 600;
}

.track-input::placeholder {
  color: #000000a6;
  font-weight: 600;
}

.track-button {
  width: 406px;
  height: 50px;
}

.header-text {
  line-height: 80px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  margin: auto;
}

.active::after {
  text-align: center;
  /* position: absolute; */
  margin: 3px auto 0;
  border-radius: 5px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #809500;
  content: "\00a0";
}

input {
  font-size: 18px;
  font-weight: 600;
}

.react-datalist-input__textbox {
  width: 350px;
  height: 50px;
  border-radius: 6px;
  padding: 16px;
  background-color: #E2E2E2;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datalist-input__listbox-option {
  padding: 8px 0;
  cursor: pointer;
}

.react-datalist-input__listbox-option:hover {
  background-color: #dfdfdf;
}


.react-datalist-input__listbox {
  text-align: left;
  height: 100px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  border: 1px solid grey;
  position: absolute;
  width: 350px;
}